/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  width: 100%;
}
#wrapperWrapper{
	position: inherit;
	margin: auto;
	background-color: black;
}
/*Background Image*/
.wrapper {
	position: inherit;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 900px;
}

#searchTitle {
    text-align: center;
}

.inputBox {
    margin-bottom: 10px;
}

#startDateInput {
    width: 50%;
}

#endDateInput {
    width: 50%;
}

/* robs css */
		.related{
			height: 110px;
			padding: ;
			position: inherit;
			margin: 5px;
			background-color: black;
			color: gray;
		}
		.related:hover{
			background-color: white;
			color: black;
		}
		.relatedArtist{
			margin-bottom: 10px;
			position: inherit;
			margin: auto;
		}
		.relatedArtist:hover{
			cursor: pointer;
		}
		.artistImg{
			position: inherit;
			height: 110px;
			float: left;
			width: 110px;
		}
		.artistTitle{
			position: relative;
			left: 10px;
			overflow-x: hidden;
		}
		.relatedTab:hover{
			cursor: pointer;
		}
		#spotifyDiv {
			border-radius: 5px;
			border-color: gray;
			border-width: 2px;
			width: 363px;
		}
		#spotResults{
			overflow-y: scroll;
			max-height: 395px;
		}
		#artistDropDown{
			position: absolute;
			top: 187px;
			min-width: 350px;
			border-radius: 5px;
			border-color: purple;
			border-style: solid;
			border-width: 0px 2px 2px 2px;
			z-index: 10;
		}
		.dropDownItem{
			background-color: gray;
			color: white;
		}
		.dropDownItem:hover{
			background-color: white;
			cursor: pointer;
			color: purple;
		}
		#submit{
			margin-top: 35px;
		}
		.mainBandImage{
			max-height: 365px;
			max-width: 400px;
			padding: 15px;
			margin: auto;
			float: left;
		}
		#bandStuff{
			border-radius: 10px;
			border-style: solid;
			border-color: gray;
			border-width: 2px;
			height: 483px;
		}
		.grayText{
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-size: 24px;
		}
		.mainBandHeader{
			padding: 15px;
			text-align: center;
			font-family: 'Righteous', cursive;
			padding: 15px;
			background-image: url("../../purple.jpg");
			background-size: cover;
			color: white;
			font-size: 40px;
			border-style: solid;
			border-width: 0px 0px 3px 0px;
		}
		.whiteLink{
			color: white;
			border-color: gray;
			border-width: 1px;
			border-style: solid;
			text-align: center;
		}
		.purpleBack{
			background-image: url("../../purple.jpg");
			background-size: cover;
			font-family: 'Righteous', cursive;
			color: white;
		}
		.headerText{
			color: white;
			font-family: 'Righteous', cursive;
			font-size: 24px;
			padding: 5px;
		}

		.relatedTab{
			background-image: url("../../purple.jpg");
			background-size: cover;
			border-color: black;
			border-radius: 5px;
			border-width: 2px;
			border-style: solid;
		}
		.blackBack{
			background-color: black;
			color: gray;
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-size: 24px;
		}
		.table-body{
			background-color:black;
			color: gray;
		}
		.panel-body{
			background-color: black;
			color: gray;
		}
		.buttonText{
			margin-top: 10px;
			color: white;
			font-size: 18px;
			font-family: 'Righteous', cursive;
		}
		.searchTab{
			background-image: url("../../purple.jpg");
			background-size: cover;
			margin: 0px 10px 0px 10px;
			border-color: black;
			border-radius: 5px;
			border-width: 2px;
			border-style: solid;
		}
		.pagesText{
			padding-left: 20px;
		}
		#resultInfo{
			text-align: center;
			font-size: 20px;
			font-family: 'Righteous', cursive;
			color: white;
		}
		.pageIndexBtn{
			margin: 5px;
			background-color: purple;
			color: white;
		}
		.spotRes{
			background-image: url("../../purple.jpg");
			background-size: cover;
			padding: 3px 0px 3px 0px;
			margin: 10px;
		}
		#lightLabel {
		  display: block;
		  height: 25px;
		  width: 100px;
		  background: #eee;
		  text-align: center;
		  font: 14px/25px Helvetica, Arial, sans-serif;
		  margin: 20px 0;
		  position: fixed;
		  z-index: 10;
		}
		#lightLabel:hover {
		  background: #ddca7e;
		  color: #fff;
		  cursor: pointer;
		}
		input#lightSwitch {
		   position: inherit;
		   left: -9999px;
		   top: 300px;
		}
		
		
		/*Switched Off*/
		
		input#lightSwitch:checked + .main {
		  color: #ddca7e;
		}
		
		input#lightswitch:not(:checked) + .main h2 {
		  	color: white;
		}
		
		input#lightSwitch:checked + .main {
		  color: #aaa;
		} 
		.features:after {
 		 content: "";
 		 display: table;
 		 clear: both;
		}
		#selectSearch{
			margin: auto;
			text-align: center;
		}
		#pageDirTitle{
			font-size: 24px;
			margin-left: 35px;
		}
		@media screen and (max-width: 1200px){
			#spotifyDiv{
				width: 306px;
			}
			.badge{
				display: none;
			}
			.mainBandImage{
				max-height: 300px;
				max-width: 300px;
			}
			#spotResults{
				max-height: 345px;
			}
		}
		@media screen and (max-width: 767px){
			#spotifyDiv{
				display: none;
			}
		}
		@media screen and (max-width: 1000px){
			.mainBandImage{
				max-height: 240px;
				max-width: 240px;
			}
			#spotResults{
				max-height: 310px;
			}
			#bandStuff{
				height: 420px;
			}
		}
